h1 {
  text-align: center;
}
.list {
  border: 1px solid grey;
  padding: 10px;
  margin: 300px;
  margin-top: 20px;
  background-color: rgba(225, 222, 220, 0.99);
}
.item {
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px;
  border: 1px solid grey;
}
p {
  text-align: center;
}
.btn {
  text-align: right;
}
