<div class="tasks-list-container">
  <mat-card
    (drop)="handleDrop(true)"
    (dragover)="handleDragOver($event)"
    [class]="dropZoneClass"
  >
    <mat-card-header>To-dos</mat-card-header>
    <mat-card-actions>
      <div class="actionButtonsTop">
        <button
          mat-raised-button
          color="primary"
          (click)="allTasksToBeCompleted()"
        >
          Complete All
        </button>
      </div>
    </mat-card-actions>
    <mat-card-content>
      <div class="item" *ngFor="let todoitem of activeTasks" class="hoverCard">
        <mat-card
          draggable="true"
          class="grabbable"
          (dragstart)="handleDragStart(todoitem.id)"
          (dragend)="handleDragEnd()"
        >
          <mat-card-content class="task-actions-container">
            {{ todoitem.task }}
            <span class="task-actions" class="input-edit">
              <button
                color="warn"
                mat-icon-button
                (click)="deleteItem(todoitem.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                color="primary"
                mat-icon-button
                (click)="openEditDialog(todoitem.id)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card
    (drop)="handleDrop(false)"
    (dragover)="handleDragOver($event)"
    droppable="true"
    [class]="dropZoneClass"
  >
    <mat-card-header>Completed</mat-card-header>
    <mat-card-actions>
      <div class="actionButtonsTop">
        <button
          mat-raised-button
          color="warn"
          (click)="completedTaskToBeDeleted()"
        >
          Clear All
        </button>
      </div>
    </mat-card-actions>
    <mat-card-content>
      <div
        class="item"
        *ngFor="let todoitem of completedTasks"
        class="hoverCard"
      >
        <mat-card
          draggable="true"
          (dragstart)="handleDragStart(todoitem.id)"
          (dragend)="handleDragEnd()"
          class="grabbable"
        >
          <mat-card-content class="task-actions-container">
            {{ todoitem.task }}
            <span class="task-actions" class="input-edit">
              <button
                color="warn"
                mat-icon-button
                (click)="deleteItem(todoitem.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                color="primary"
                mat-icon-button
                (click)="openEditDialog(todoitem.id)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- <h3 *ngIf="todos.length === 0">No to-do list to display</h3> -->
</div>

<app-addto-do></app-addto-do>
